<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <body style="background-image: url(https://img.freepik.com/premium-vector/elegant-dark-wavy-net-background_23-2148402777.jpg?w=740)" class="bg-cover">
        <div style="margin-top: 20%; color: white;">
            <h1 style="text-align: center;" class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">You have already applied for this resource</h1>
        </div>
    </body>
</html>