<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 xl:h-8 xl:w-8 2xl:h-8 2xl:w-8 text-gray-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5"></path>
    </svg>
      <span class="font-semibold text-xl tracking-tight">Halcyon</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="{% url 'home' %}" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Home
        </a>
        {% if user.is_authenticated %}
      {% if user.is_admin %}
      <a href="{% url 'Hospital_request' %}" style="padding: 1.5%;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Hospital Requests</a>
      <a href="{% url 'newsletterupload' %}" style="padding: 1.5%;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">Upload Newsletter</a>
      <a href="{% url 'newsletter_view' %}" style="padding: 1.5%;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">View Newsletter uploads</a>
      <a href="{% url 'logout' %}" style="float: right; padding:1.5%;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
      <a href="{% url 'admin_profile' %}" style="float: right; padding:1.5%;" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><span class="glyphicon glyphicon-user"></span> Profile</a>
      {% endif %}
      {% if user.is_Hospital %}
      <a href="" style="padding: 1.5%;">Create job postings</a>
      <a href="" style="padding: 1.5%;">View job postings</a>
      <a href="{% url 'logout' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
      <a href="{% url 'Hospital_profile' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-user"></span> Profile</a>
      {% endif %}
      {% if user.is_Client %}
      <a href="" style="padding: 1.5%;">View job postings</a>
      <a href="" style="padding: 1.5%;">My Applications</a>
      <a href="{% url 'logout' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
      <a href="{% url 'Client_profile' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-user"></span> Profile</a>
      {% endif %}
     
      {% else %}
      <a href="{% url 'signup_main' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a>
      <a href="{% url 'login_main' %}" style="float: right; padding:1.5%;"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      {% endif %}
      </div>
      <div>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav>